* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #000000;
}

.nav-container {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #ff8400;
}

.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.nav-main h1 {
    color: #ffffff;
    font-size: 36px;
}

.contact-info {
    color: #ffffff;
    cursor: pointer;
}

.form-container {
    padding: 40px 20px;
    width: 100%;
}

.card-form {
    background-color: #333;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 20px;
}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: none;
}

.error-message {
    margin-top: 5px;
    color: #faa
}

.form-input {
    height: 50px;    
    width: 100%;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 14px;
    border: 0px;
}

.form-input::placeholder {
    color: #c9c9c9;
}

.form-input:disabled {
    background-color: #ddd;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn {
    width: 250px;
    height: 50px;
    background-color: #ff8400;
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}

.list-container {
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-list-item {
    background-color: #333;
    color: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
    padding: 20px;
}

.card-list-item h3 {
    color:#ff8400;
    font-size: 18px;
}

.address-line {
    font-size: 14px;
    color:#ffffff;
}

.address-postal-code {
    font-size: 12px;
    color:#8f8f8f;
}